@inherits LayoutComponentBase
@*<NldsHeader></NldsHeader>*@
@*<header class="header" role="banner">...</header>*@
    @*<nav class="top-nav" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                    <li class="nav__item" data-width="199">
                        <a href="../../index.html" title="Home" class="nav__link  ">
                            <i class="icon icon-home" role="presentation"></i>
                            <span>NL Design System</span>
                        </a>
                    </li>

                    <li class="nav__item" data-width="127"><a class="nav__link " href="../../aan-de-slag/index.html">Aan de slag</a></li>

                    <li class="nav__item" data-width="80"><a class="nav__link " href="../../core/index.html">Basis</a></li>

                    <li class="nav__item" data-width="150"><a class="nav__link nav__link--active" href="../index.html">Componenten</a></li>

                    <li class="nav__item nav__item--hidden" data-width="139"><a class="nav__link " href="../../templates/index.html">Voorbeelden</a></li>

                    <li class="nav__item nav__item--more" data-width="98">
                        <a href="#" class="nav__link nav__link--more">Meer</a>
                        <ul class="nav__more">
                            <li class="nav__item nav__item--clone nav__item--hidden">
                                <a href="../../index.html" title="Home" class="nav__link  ">
                                    <i class="icon icon-home" role="presentation"></i>
                                    <span>NL Design System</span>
                                </a>
                            </li>
                            <li class="nav__item nav__item--clone nav__item--hidden"><a class="nav__link " href="../../aan-de-slag/index.html">Aan de slag</a></li>
                            <li class="nav__item nav__item--clone nav__item--hidden"><a class="nav__link " href="../../core/index.html">Basis</a></li>
                            <li class="nav__item nav__item--clone nav__item--hidden"><a class="nav__link nav__link--active" href="../index.html">Componenten</a></li>
                            <li class="nav__item nav__item--clone"><a class="nav__link " href="../../templates/index.html">Voorbeelden</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>*@
@*<div class="container"></div>*@
<main class="smain" id="content">
    <div class="container">
        @Body
    </div>
</main>