@page "/"
<h2>Badges</h2>
<NldsBadge Color="BadgeColor.Wit">WIT</NldsBadge>
<NldsBadge Color="BadgeColor.Zwart">ZWART</NldsBadge>
<NldsBadge Color="BadgeColor.Violet">VIOLET</NldsBadge>
<NldsBadge Color="BadgeColor.Roze">ROZE</NldsBadge>
<NldsBadge Color="BadgeColor.Rood">ROOD</NldsBadge>
<NldsBadge Color="BadgeColor.RobijnRood">ROBIJNROOD</NldsBadge>
<NldsBadge Color="BadgeColor.Paars">PAARS</NldsBadge>
<NldsBadge Color="BadgeColor.Oranje">ORANJE</NldsBadge>
<NldsBadge Color="BadgeColor.Mosgroen">MOSGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Mintgroen">MINTGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Lichtblauw">LICHTBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.HemelBlauw">HEMELBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.DonkerBlauw">DONKERBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.Groen">GROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Geel">GEEL</NldsBadge>
<NldsBadge Color="BadgeColor.Donkergroen">DONKERGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Donkergeel">DONKERGEEL</NldsBadge>
<NldsBadge Color="BadgeColor.Bruin">BRUIN</NldsBadge>
<NldsBadge Color="BadgeColor.Optioneel">OPTIONEEL</NldsBadge>
<h2>Buttons</h2>
<NldsButton Type="ButtonType.Primary">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Disabled">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Icon"><NldsIcon Icon="icon-arr-forward"></NldsIcon></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsIcon Icon="icon-arr-forward">Verder</NldsIcon></NldsButton>
<NldsButton Type="ButtonType.DigiD">Hello World!</NldsButton>
<h2>Collapse</h2>
<NldsCollapse>
    <Title>Titel van collapse</Title>
    <Content>Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.</Content>
</NldsCollapse>