@page "/"

<h2>Badges</h2>
<NldsBadge Color="Color.Wit">WIT</NldsBadge>
<NldsBadge Color="Color.Zwart">ZWART</NldsBadge>
<NldsBadge Color="Color.Violet">VIOLET</NldsBadge>
<NldsBadge Color="Color.Roze">ROZE</NldsBadge>
<NldsBadge Color="Color.Rood">ROOD</NldsBadge>
<NldsBadge Color="Color.RobijnRood">ROBIJNROOD</NldsBadge>
<NldsBadge Color="Color.Paars">PAARS</NldsBadge>
<NldsBadge Color="Color.Oranje">ORANJE</NldsBadge>
<NldsBadge Color="Color.Mosgroen">MOSGROEN</NldsBadge>
<NldsBadge Color="Color.Mintgroen">MINTGROEN</NldsBadge>
<NldsBadge Color="Color.Lichtblauw">LICHTBLAUW</NldsBadge>
<NldsBadge Color="Color.HemelBlauw">HEMELBLAUW</NldsBadge>
<NldsBadge Color="Color.DonkerBlauw">DONKERBLAUW</NldsBadge>
<NldsBadge Color="Color.Groen">GROEN</NldsBadge>
<NldsBadge Color="Color.Geel">GEEL</NldsBadge>
<NldsBadge Color="Color.Donkergroen">DONKERGROEN</NldsBadge>
<NldsBadge Color="Color.Donkergeel">DONKERGEEL</NldsBadge>
<NldsBadge Color="Color.Bruin">BRUIN</NldsBadge>
<NldsBadge Color="Color.Optioneel">OPTIONEEL</NldsBadge>

<NldsBadge Color="Color.Wit">1</NldsBadge>
<NldsBadge Color="Color.Zwart">2</NldsBadge>
<NldsBadge Color="Color.Violet">3</NldsBadge>
<NldsBadge Color="Color.Roze">4</NldsBadge>
<NldsBadge Color="Color.Rood">5</NldsBadge>
<NldsBadge Color="Color.RobijnRood">6</NldsBadge>
<NldsBadge Color="Color.Paars">7</NldsBadge>
<NldsBadge Color="Color.Oranje">8</NldsBadge>
<NldsBadge Color="Color.Mosgroen">9</NldsBadge>
<NldsBadge Color="Color.Mintgroen">10</NldsBadge>
<NldsBadge Color="Color.Lichtblauw">11</NldsBadge>
<NldsBadge Color="Color.HemelBlauw">12</NldsBadge>
<NldsBadge Color="Color.DonkerBlauw">13</NldsBadge>
<NldsBadge Color="Color.Groen">14</NldsBadge>
<NldsBadge Color="Color.Geel">15</NldsBadge>
<NldsBadge Color="Color.Donkergroen">16</NldsBadge>
<NldsBadge Color="Color.Donkergeel">17</NldsBadge>
<NldsBadge Color="Color.Bruin">18</NldsBadge>
<NldsBadge Color="Color.Optioneel">19</NldsBadge>
<h2>Buttons</h2>
<NldsButton Type="ButtonType.Primary">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Disabled">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Icon"><NldsIcon Icon="icon-arr-forward"></NldsIcon></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsIcon Icon="icon-arr-forward">Verder</NldsIcon></NldsButton>
<NldsButton Type="ButtonType.DigiD">Hello World!</NldsButton>
<h2>Collapse</h2>
<NldsCollapse>
    <Title>Titel van collapse</Title>
    <Content>Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.</Content>
</NldsCollapse>
<h2>Input</h2>
<h3>5 Input Types</h3>
<NldsForm>
    <NldsInput IsInvalid="true" Id="a" Size="InputSize.Medium" AriaDescribedBy="fullname">
        <Label>Naam Beheerder</Label>
        <Hint><NldsInputHint HintName="fullname">Bijvoorbeeld Frank Masmeijer</NldsInputHint></Hint>
        <Error><NldsInputError>U heeft het veld Naam beheerder nog niet ingevuld</NldsInputError></Error>
    </NldsInput>
</NldsForm>
<h3>Sizes</h3>
<NldsForm>
    <NldsInput Id="a" Size="InputSize.ExtraSmall">Extra Small</NldsInput>
    <NldsInput Id="a" Size="InputSize.Small"><Label>Small</Label></NldsInput>
    <NldsInput Id="a" Size="InputSize.Medium"><Label>Medium</Label></NldsInput>
    <NldsInput Id="a" Size="InputSize.Large"><Label>Large</Label></NldsInput>
    <NldsInput Id="a" Size="InputSize.ExtraLarge"><Label>Extra Large</Label></NldsInput>
</NldsForm>
<h3>Horizontal</h3>
<NldsForm>
    <NldsInput Id="a" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium"><Label>Horizontal Label</Label></NldsInput>
</NldsForm>
<h2>Radios</h2>
@code {
    List<RadioItem> Items = new List<RadioItem>() {
        new RadioItem() { Description = "Alleenstaande", Name = "alleenstaande" },
        new RadioItem() { Description = "Aanvrager met toeslagparter", Name = "aanvrager_met_toeslagpartner" }
    };
}
<NldsInputHint HintName="situatie">Geef aan of u alleenstaande bent of dat u een toeslagpartner heeft.</NldsInputHint>
<NldsRadio Items="@Items" CurrentItem="@Items[1]" OnChange="ChangeRadio" Legend="" Group="groupName" />

@if (Radio != null)
{
@Radio.CurrentItem.Name;
}


@code {

    NldsRadio Radio;

    void ChangeRadio(NldsRadio radio)
    {
        Radio = radio;
    }
}
