@page "/"
<h2>Badges</h2>
<NldsBadge Color="BadgeColor.Wit">WIT</NldsBadge>
<NldsBadge Color="BadgeColor.Zwart">ZWART</NldsBadge>
<NldsBadge Color="BadgeColor.Violet">VIOLET</NldsBadge>
<NldsBadge Color="BadgeColor.Roze">ROZE</NldsBadge>
<NldsBadge Color="BadgeColor.Rood">ROOD</NldsBadge>
<NldsBadge Color="BadgeColor.RobijnRood">ROBIJNROOD</NldsBadge>
<NldsBadge Color="BadgeColor.Paars">PAARS</NldsBadge>
<NldsBadge Color="BadgeColor.Oranje">ORANJE</NldsBadge>
<NldsBadge Color="BadgeColor.Mosgroen">MOSGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Mintgroen">MINTGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Lichtblauw">LICHTBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.HemelBlauw">HEMELBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.DonkerBlauw">DONKERBLAUW</NldsBadge>
<NldsBadge Color="BadgeColor.Groen">GROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Geel">GEEL</NldsBadge>
<NldsBadge Color="BadgeColor.Donkergroen">DONKERGROEN</NldsBadge>
<NldsBadge Color="BadgeColor.Donkergeel">DONKERGEEL</NldsBadge>
<NldsBadge Color="BadgeColor.Bruin">BRUIN</NldsBadge>
<NldsBadge Color="BadgeColor.Optioneel">OPTIONEEL</NldsBadge>
<h2>Buttons</h2>
<NldsButton Type="ButtonType.Primary">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Disabled">Hello World!</NldsButton>
<NldsButton Type="ButtonType.Icon"><NldsIcon Icon="icon-arr-forward"></NldsIcon></NldsButton>
<NldsButton Type="ButtonType.Primary"><NldsIcon Icon="icon-arr-forward">Verder</NldsIcon></NldsButton>
<NldsButton Type="ButtonType.DigiD">Hello World!</NldsButton>
<h2>Collapse</h2>
<NldsCollapse>
    <Title>Titel van collapse</Title>
    <Content>Dit is de inhoud van de collapse. Humani generiss sunt dominas de nobilis compater. Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.</Content>
</NldsCollapse>
<h2>Input</h2>
<h3>5 Input Types</h3>
<NldsForm>
    <NldsInput IsInvalid="true" Id="a" Size="InputSize.Medium" AriaDescribedBy="fullname">
        <ChildContent>Naam Beheerder</ChildContent>
        <Hint><NldsInputHint HintName="fullname">Bijvoorbeeld Frank Masmeijer</NldsInputHint></Hint>
        <Error><NldsInputError>U heeft het veld Naam beheerder nog niet ingevuld</NldsInputError></Error>
    </NldsInput>
</NldsForm>
<h3>Sizes</h3>
<NldsForm>
    <NldsInput Id="a" Size="InputSize.ExtraSmall">Extra Small</NldsInput>
    <NldsInput Id="a" Size="InputSize.Small">Small</NldsInput>
    <NldsInput Id="a" Size="InputSize.Medium">Medium</NldsInput>
    <NldsInput Id="a" Size="InputSize.Large">Large</NldsInput>
    <NldsInput Id="a" Size="InputSize.ExtraLarge">Extra Large</NldsInput>
</NldsForm>
<h3>Horizontal</h3>
<NldsForm>
    <NldsInput Id="a" LabelAlignment="LabelAlignment.Horizontal" Size="InputSize.Medium">Horizontal Label</NldsInput>
</NldsForm>
<h2>Radios</h2>
@code {
    List<RadioItem> Items = new List<RadioItem>() {
        new RadioItem() { Description = "Alleenstaande", Name = "alleenstaande" },
        new RadioItem() { Description = "Aanvrager met toeslagparter", Name = "aanvrager_met_toeslagpartner" }
    };
}
<NldsInputHint HintName="situatie">Geef aan of u alleenstaande bent of dat u een toeslagpartner heeft.</NldsInputHint>
<NldsRadio Items="@Items" CurrentItem="@Items[1]" OnChange="ChangeRadio" Legend="" Group="groupName" />

@if (Radio != null)
{
    @Radio.CurrentItem.Name;
}


@code {

    NldsRadio Radio;

    void ChangeRadio(NldsRadio radio)
    {
        Radio = radio;
    }
}