@namespace Blazor.NLDesignSystem.Components
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-10 col-lg-offset-1">
                    <p class="screenreader-only">@ScreenReaderText</p>
                    @ChildContent
                </div>
            </div>
        </div>
    </div>