@namespace Blazor.NLDesignSystem.Components
@if (Show)
{
    <div @ref="ChartReference" class="donut-chart donut-chart--@DisplayColor">
        <h3 class="donut-chart__title">@((MarkupString)Title)</h3>
        <div class="donut-chart__chart">
            <canvas class="donut-chart__canvas"></canvas>
            <div class="donut-chart__inner">
                @ChildContent
            </div>
        </div>
        <span class="donut-chart__subtitle">@((MarkupString)TextBelow)</span>
    </div>
}