@namespace Blazor.NLDesignSystem.Components
<span class="btn__content">
    @if (Position == RelativePosition.Before)
    {
        <i class="btn__icon icon @Icon" title="@Title"></i>
    }
    @ChildContent
    @if (Position == RelativePosition.After)
    {
        <i class="btn__icon icon @Icon" title="@Title"></i>
    }
</span>