
body.theme--xxl-breakpoint div.input--horizontal.input--invalid {
    /* For an invalid form element displayed horizontally with the body set to show the horizontal labels */
    padding-left: 0px;
}

.definition-list__edit-button.pointer {
    cursor: pointer;
}

.switch__state {
    white-space: nowrap;
}

/* the order of the css in the build css is different and that is why input__control is not overridden by input__control--checkbox*/
.input__control.input__control--checkbox {
    width: 1px;
}