@namespace Blazor.NLDesignSystem.Components
    <div class="col-xs-12 col-md-3 @(HasOffset ? "col-md-offset-1" : string.Empty)">
        <span class="footer__header">@Title</span>
              @List
    </div>
