@inherits LayoutComponentBase
    <NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>
    <NldsTopNav Color="Color.HemelBlauw">
        <NldsTopNavBrand Title="Home" HRef="/" Icon="Icon.Home">NL Design System</NldsTopNavBrand>
        <NldsTopNavItem HRef="aan-de-slag">Aan de slag</NldsTopNavItem>
        <NldsTopNavItem HRef="core">Basis</NldsTopNavItem>
        <NldsTopNavItem HRef="componenten">Componenten</NldsTopNavItem>
        <NldsTopNavItem HRef="templates">Voorbeelden</NldsTopNavItem>
    </NldsTopNav>
<main class="smain" id="content" tabindex="-1">
    <div class="container">
        @Body
    </div>
</main>