@inherits LayoutComponentBase
<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>

<NldsNavigation AutoResize="true">
    <NldsNavigationList>
        <NldsNavigationItem Uri="" Title="Home">
            <Content>
                <NldsIcon Icon="Icon.Home" />NL Design System
            </Content>
        </NldsNavigationItem>
        <NldsNavigationItem Uri="aan-de-slag">
            <Content>
                Aan de slag
            </Content>
        </NldsNavigationItem>
        <NldsNavigationItem Uri="componenten">
            <Content>
                Componenten
            </Content>
        </NldsNavigationItem>
        <NldsNavigationItem Uri="basis">
            <Content>
                Basis
            </Content>
        </NldsNavigationItem>
        <NldsNavigationItem Uri="voorbeelden">
            <Content>
                Voorbeelden
            </Content>
        </NldsNavigationItem>
    </NldsNavigationList>
</NldsNavigation>
<main id="content" class="skiplink-target main" tabindex="-1">
    <div class="container">
        @Body
    </div>
</main>