@inherits LayoutComponentBase
<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>
<NldsNavigation_ Color="Color.HemelBlauw">
    <NldsNavigationBlock_ HasSubmenu="true">
        <NldsNavigationItem_ Uri="" Title="Home"><NldsIcon Icon="Icon.Home" />NL Design System</NldsNavigationItem_>
        <NldsNavigationItem_ Uri="aan-de-slag">Aan de slag</NldsNavigationItem_>
        <NldsNavigationSubmenu_ Title="BasisMenu" Icon="Icon.Info" DisplayName="<u>BasisMenu</u>">
            <NldsNavigationItem_ Uri="core">Basis</NldsNavigationItem_>
            <NldsNavigationItem_ Uri="#"><NldsIcon Icon="Icon.Info" />LinkToNowhere</NldsNavigationItem_>
        </NldsNavigationSubmenu_>
        <NldsNavigationItem_ Uri="componenten">Componenten</NldsNavigationItem_>
    </NldsNavigationBlock_>
    <NldsNavigationBlock_ Position="Position.Right">
        <NldsNavigationItem_ Uri="templates">Voorbeelden</NldsNavigationItem_>
    </NldsNavigationBlock_>
</NldsNavigation_>
<main id="content" class="skiplink-target main" tabindex="-1">
    <div class="container">
        @Body
    </div>
</main>