@inherits NldsEventComponent
@namespace Blazor.NLDesignSystem.Components
<div @ref="CollapseReference" class="collapse__header" @attributes="GetAttributes()" id="@Identifier">
    <i class="collapse__indicator">
        <span class="screenreader-only" data-contracted-i18n="@CollapsedText" data-expanded-i18n="@UnfoldedText"></span>
    </i>
    <span class="collapse__title">
        @Title
    </span>
</div>
@if (ShowContent)
{
    @Content
}
