@namespace Blazor.NLDesignSystem.Components
<div @ref="@CollapsableReference" class="collapse__header" x-uno-collapse="" @attributes="GetAttributes()">
    <i class="collapse__indicator">
        <span class="screenreader-only" data-contracted-i18n="@CollapsedText" data-expanded-i18n="@UnfoldedText"></span>
    </i>
    <span class="collapse__title">
        @Title
    </span>
</div>
@if (ShowContent)
{
    @Content
}
