<div class="input @LabelAlignmentStyle @(IsInvalid ? "input--invalid" : "")">
    <CascadingValue Name="InputName" Value="@Id">
        @Label
        @Hint
        @Error
    </CascadingValue>
    <input id="@Id" type="@DisplayType" class="input__control input__control@(SizeAppendix) input__control--search" >
</div>