@namespace Blazor.NLDesignSystem.Components
<li id="tab@(Identifier)" role="tab" aria-controls="panel@(Identifier)" class="tab__tab @(IsDisabled ? "tab__tab--disabled" : string.Empty)"><a href="#panel@(Identifier)">@ChildContent</a></li>