@namespace Blazor.NLDesignSystem.Components
<nav class="top-nav top-nav--@DisplayColor">
    <div class="container">
        <CascadingValue IsFixed="true" Name="AutoResize" Value="AutoResize">
            @ChildContent
        </CascadingValue>
    </div>
</nav>