<nav class="top-nav top-nav--@color" id="docs-nav">
    <div class="container">
        <div class="top-nav__block top-nav-autoresize">
            <ul class="nav">
                @ChildContent
            </ul>
        </div>
    </div>
</nav>