@namespace Blazor.NLDesignSystem.Components
<nav class="@(IsSideNavigation ? "sidenav" : $"top-nav{(UseColor ? $" top-nav--{DisplayColor}" : string.Empty)}")">
    @if (IsSideNavigation)
    {
        <CascadingValue Name="IsInSideNavigation" Value="@IsSideNavigation">
            @ChildContent
        </CascadingValue>
    }
    else
    {
    <div class="container">
        <div @ref="NavigationResizeReference" class="@(AutoResize ? "top-nav-autoresize" : string.Empty)">
            @ChildContent
        </div>
    </div>
    }
</nav>