@namespace Blazor.NLDesignSystem.Components
    <button @ref="NavigationCollapseBlockItemReference" class="top-nav__block-item top-nav__block-item--collapse" x-uno-collapse-group="@GroupName" x-uno-collapse-target="@Target">
        @ChildContent
    </button>