@namespace Blazor.NLDesignSystem.Components
<nav class="@(IsSideNavigation ? "sidenav" : $"top-nav{(UseColor ? $" top-nav--{DisplayColor}" : string.Empty)}")">
    @if (IsSideNavigation)
    {
        <CascadingValue Name="IsInSideNavigation" Value="@IsSideNavigation">
            @ChildContent
        </CascadingValue>
    }
    else
    {
    <div class="container">
        @ChildContent
    </div>
    }
</nav>