@namespace Blazor.NLDesignSystem.Components
<div class="top-nav__block top-nav__block--right">
    <CascadingValue Name="GroupName" Value="@GroupName" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>