@namespace Blazor.NLDesignSystem.Components
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <CascadingValue Name="IsInBreadCrumbs" Value="true" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </ul>
    </div>
