@namespace Blazor.NLDesignSystem.Components
<div class="collapse collapse--nav">
    <div class="container collapse__details" id="@Identifier">
        <ul class="list list--links list--chevrons">
            <CascadingValue Name="IsInCollapse" Value="true" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </ul>
    </div>
</div>