@namespace Blazor.NLDesignSystem.Components
    <li @attributes="GetLiAttributes()">
        <a href="@Uri" @attributes="GetAAttributes()">
            @Content
        </a>
        @SubMenu
    </li>