@namespace Blazor.NLDesignSystem.Components
<nav class="@(IsSideNavigation ? "sidenav" : "top-nav top-nav--@(DisplayColor)")">
    @if (IsSideNavigation)
    {
        <CascadingValue Name="IsInSideNavigation" Value="@IsSideNavigation">
            @ChildContent
        </CascadingValue>
    }
    else
    {
    <div class="container">
        @ChildContent
    </div>
    }
</nav>