@namespace Blazor.NLDesignSystem.Components
<li class="nav__item nav__item--parent"
    <a class="nav__link nav__link--parent" href="#" @attributes="GetAttributes()">
        @if (Icon != Icon.Undefined)
        {
            <i class="icon @DisplayIcon" role="presentation"></i>
        }
        @((MarkupString)DisplayName)
    </a>
    <ul class="nav__submenu">
        @ChildContent
    </ul>
</li>