<header class="header" role="banner">
    <div class="header-logo">
        <a href="@Link" title="@LinkTitle">
            @Content
            <span class="screenreader-only">@LinkScreenReaderDescription</span>
        </a>
    </div>
</header>