@namespace Blazor.NLDesignSystem.Components
<li class="definition-list__item">
    @if (ShowTitle)
    {
        <div class="definition-list__title">@((MarkupString)Title)</div>
    }
    <div class="definition-list__description">
        @ChildContent
    </div>
</li>