@page "/"
<h3>Aan de slag</h3>
<NldsCardList Small="true">
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-1.png">
        <Title>Aan de Slag</Title>
        <Content>Installatie, richtlijnen en layout.</Content>
    </NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-2.png">
        <Title>Basis</Title>
        <Content>Kleuren, iconen en typografie.</Content>
    </NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-3.png">
        <Title>Componenten</Title>
        <Content>Kant-en-klare onderdelen.</Content>
    </NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-3.png">
        <Title>Patronen</Title>
        <Content>Kant-en-klare onderdelen.</Content>
    </NldsCard>
    <NldsCard ImageUri="https://nl-design-system.gitlab.io/nl-design-system/images/img-3.png">
        <Title>Voorbeelden</Title>
        <Content>Kant-en-klare onderdelen.</Content>
    </NldsCard>
</NldsCardList>
